.DS_Store
.env
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

temp_shp_dir/
spam_tifs/
gadm_cache/

Table_CROPGRIDSv1.08_COU.xlsx
gadm41_BOL_shp.zip
41467_2019_10442_MOESM3_ESM.xlsx
spam2010v2r0_global_harv_area.geotiff.zip

data/raw/
data/logs/
outputs/

*.pyc
*.pyo
*.pyd
