geopandas
matplotlib
numpy==2.5.1
pandas
Pillow==12.3.0
psycopg[binary]
pycountry
pyogrio==0.13.0
pyproj==3.7.2
pyyaml
rasterio
Requests==2.34.2
scikit_learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
shapely
sqlalchemy
xarray
PyYAML==6.0.3
Shapely==2.1.2
SQLAlchemy==2.0.51